@import url('https://fonts.googleapis.com/css?family=Esteban|Montserrat');

body {
	font-family: 'Esteban', serif;
}

h1, h2, h3, h4 { 
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: black; 
	text-align: center;
}

div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

.wrapper {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 30%;
}

#slogan {
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

#hero {
  display: block;
  width:100%;
}

section {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

#map {
	float: right;
}

.tourlogos {
	display: block;
	width:20%;
}

footer {
	text-align: center;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

#footer_logo {
	display:block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	height: auto;
}
