body {
	background-color: #FFE87D;
	font-family: Helvetica; sans-serif;
	text-align: center;
	}
h1{ 
	font-weight: bold;
	text-color: #8C66E8; 
	}
#slogan {
	font-style: italic;
}
ul {
    text-align: center;
    list-style-type: none;
}
